/*general styling, wanting to keep it simple with black text, grey border/outline, and white background*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*starting with the body*/
body {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*header styling starts*/
header {
    padding: 20px 35px;
    background-color:antiquewhite;
}

header a {
    text-decoration: none;
    color: black;
}

.header-logo {
    font-weight: bold;
    font-size: 20px;
    display: inline;
}

nav {
    float: right;
    margin: -10px 0 0 0;
    font-weight: bold;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 30px;
    font-size: 18px;
}
/*end of header styling*/

/*main section styling*/

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

/*styling for about-me section starts*/
.about-me {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.about-me img {
    width: 500px;
    height: 300px;
    margin: auto;
}

.about-me p {
    display: block;
    text-align: justify;
}
/*end of about-me section*/

/*portfolio section begins*/
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio h2 {
    margin: 50px auto auto;
    width: 600px;
}

.portfolio-description {
    margin: auto;
    width: 600px;
}

.portfolio h3 {
    margin-bottom: 20px;

}
.portfolio-body {
    display: flex;
    margin: 15px;
    grid-gap: 30px;
    justify-content: center;
}
/*making projects fit into a box*/
.portfolio-body img {
    display: block;
    margin-bottom: 5px;
    clear: both;
}

.run-buddy {
    font-size: 22px;
    display:flex;
    flex-direction: column;
    border: 3px solid lightgrey;
    justify-content: center;
    padding: 10px;
    text-align: center;
    flex: 0 0 700px;
}

.run-buddy img {
    width: 100%;
    border: 1px solid black;
}

.run-buddy p {
    text-align: justify;
    font-size: 16px;
    padding-top: 5px;
}

.horiseon {
    font-size: 22px;
    display:flex;
    flex-direction: column;
    border: 3px solid lightgrey;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: fit-content;
    flex: 0 0 400px;
}

.horiseon-title {
    margin: 0;
    padding: 0;
}

.horiseon img {
    width: 100%;
    border: 1px solid lightgrey;
}

.horiseon p {
    text-align: justify;
    font-size: 16px;
    padding-top: 5px;
}
/*contact me starts*/
.contact-me {
    margin: auto;
    justify-content: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    order: 3;
}

.contact-me p {
    display: block;
    text-align: center;
    padding: 0 100px;
    margin: 10px 0;
}

.contact-me p a {
    color: black;
    font-size: 18px;
}

.contact-info {
    margin: auto;
    justify-content: center;
    width: 600px;
    display: flex;
}
/*contact me ends*/

/*footer starts*/
footer {
    margin: 30px auto;
    background: antiquewhite;
    height: 50px;
    padding-top: 18px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    main,
    nav,
    footer {
        flex-direction: column;
    }
}