* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {
    color: black;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;

    background-color:antiquewhite;
}

.header-logo {
    font-weight: bold;

    font-size: 20px;

    margin: 0;

    display: inline;

    font-family:Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;

    color: black;
}

header nav {
    float: right;

    margin: 7px 0;

    font-weight: bold;
}

header nav ul li {
    display: inline;

    margin: 0 30px;

    font-size: 18px;
}

.about-me h2{
    text-align: center;

}

.about-me {
    image-resolution: 200px;
    
    margin: 10px 0;
}

.about-me img {
    width: auto;

    height: 300px;

    background-size: 50% 50%;
}